<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597350344138-qkmo86l6kqd1lha9sa15kf7hl3udq6em.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597350344138-qkmo86l6kqd1lha9sa15kf7hl3udq6em</string>
	<key>API_KEY</key>
	<string>AIzaSyDVotL2snVmG9XnJggF_kgy0tUqdu-8rLM</string>
	<key>GCM_SENDER_ID</key>
	<string>597350344138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lambda.timeline</string>
	<key>PROJECT_ID</key>
	<string>lambdatimeline-5f092</string>
	<key>STORAGE_BUCKET</key>
	<string>lambdatimeline-5f092.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597350344138:ios:38294107c3c185e0b85b33</string>
	<key>DATABASE_URL</key>
	<string>https://lambdatimeline-5f092.firebaseio.com</string>
</dict>
</plist>